@use '../base/mixin' as animate;

.head__container {
  // background-color: var(--colors-primary-orange);
  background-color: var(--colors-secondary-pale-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gut-inside);
  border-radius: var(--b-radius);
}

.head__container__balance {
  color: var(--colors-neutral-pale-orange);
}

.head__balance {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  @include animate.animate-text;
}

.amount {
  @include animate.animate-text-2;
}

svg {
  width: 20%;
}

.board {
  // background-color: var(--colors-neutral-pale-orange);
  background-color: var(--colors-secondary-pale-orange);
  padding: var(--gut-inside);
  border-radius: var(--b-radius);
}

.board__line {
  margin: 2rem 0;
  height: 1px;
  width: 100%;
  color: var(--colors-neutral-pale-orange);
  opacity: 0.2;
}

.board__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board__percentage {
  text-align: right;
}

.board__total {
  color: var(--colors-secondary-neutral-mb);
}
