:root {
  --colors-primary-orange: hsl(10, 79%, 65%);
  --colors-primary-cyan: hsl(186, 34%, 60%);
  --colors-neutral-db: hsl(25, 47%, 15%);
  --colors-neutral-mb: hsl(28, 10%, 53%);
  --colors-neutral-cream: hsl(27, 66%, 92%);
  --colors-neutral-pale-orange: hsl(33, 100%, 98%);

  --b-radius: 15px;
  --gut-inside: 1.5rem;
}
